.king {
    padding: 20px;
    text-align: center;
}

.tx {
    font-size: 20px;
    margin: 35%;
}

.yw {
    background-color: yellow;
    padding: 20px;
    margin: 7%;
    
}

.gn {
    background-color: lime;
}